section:first-of-type {
    background: url(/src/assets/images/wallpaper.jpg);
    opacity: 0.9;
    background-size: cover;
    min-height: 100vh;
}

.jumbotron {
    margin-top: 100px;
    background: transparent;
    text-align: center;
    font-family: 'Cardo', serif;

}

#about-z {
    margin-top: -1px;
}

.display-4 {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: rgb(56, 56, 56);
}

.lead {
    font-size: 18px;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}

.welcome {
    font-size: 20px;
    padding-top: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.social {
    width: 50px;
    padding: 5px;
}

.jumbotron-fluid {
    text-align: left;
}

#about_me {
    text-align: left;
}

.bio {
    font-size: 22px;
    padding: 32px;
}

.first-line {
    font-style: italic;
}

.bio p {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

#bio_pic {
    float: right;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    padding-right: 5px;
    border-radius: 100px;
    margin-right: 10px;
}

.uk-card {
    border-radius: 80px;
    text-align: center;
}

.uk-table {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

.progress-bar {
    background-color: rgb(233, 157, 42);
}

#my-projects {
    background-color: transparent;
    color: white;
}

#project {
    color: white;
}

.project_pic {
    border-radius: 175px;
}

.works {
    color: orange;
}

.uk-panel {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#empdir {
    border-radius: 5px;
    margin-bottom: 10px;
}

#nosql {
    border-radius: 5px;
}

section:not(:first-of-type) {
    min-height: 120vh;
    border-top: none;
    margin-top: -100px;
}

#about {
    background: rgb(173, 173, 173, 0.3);
}

#projects {
    background: #323333;
}

#contact-us {
    background: #fff;
}

