.navbar {
    transition: all 0.4s;
}

img {
    width: 200px;
    height: auto;
}

.nav-link {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: 20px;
}

p {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

#navbarSupportedContent {
    text-align: center;
    padding-top: 10px;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);

}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


section:first-of-type {
    background: url(/src/assets/images/wallpaper.jpg);
    opacity: 0.9;
    background-size: cover;
    min-height: 100vh;
}

.jumbotron {
    margin-top: 110px;
    background: transparent;
    text-align: center;
    font-family: 'Cardo', serif;

}

.display-4 {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: rgb(56, 56, 56);
}

.lead {
    font-size: 16px;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}

.welcome {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 letter-spacing: 1.5px;
}

.social {
    width: 50px;
    padding: 5px;
}

.jumbotron-fluid {
    text-align: left;
}

.bio {
    font-family: 'Cardo', serif;
    font-size: 18px;
    padding: 30px;
}

#bio_pic {
    float: right;
    border-style: solid;
    border-color: rgba(112, 111, 111, 0.4);
    padding-right: 5px;
    border-radius: 100px;
    margin-left: 5px;
}

section:not(:first-of-type) {
    min-height: 120vh;
    border-top: none;
    margin-top: -100px;
}

#about {
    background: #fff;
}


#services {
    background: #121618;
}

#shop {
    background: #fff;
}

#contact-us {
    background: #121618;
}


.nav-link:hover, .nav-link:focus {
    color: #f2709c;
}

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1082px) {

}

@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

@media (max-width: 550px) {

}

@media (max-width: 400px) {

}

@media (max-width: 360px) {


}